In [4]:
import pandas as pd
import numpy as np

In [34]:
# Importing data that has filtered out Boruta features, on which training the classifier is required: 
train_df = pd.read_csv("/Users/prakritiailavadi/Desktop/post_grad/project2/LOS/boruta_train_summ.csv")
val_df  = pd.read_csv("/Users/prakritiailavadi/Desktop/post_grad/project2/LOS/boruta_val_summ.csv")
test_df = pd.read_csv("/Users/prakritiailavadi/Desktop/post_grad/project2/LOS/boruta_test_summ.csv")

In [35]:
selected_cohort = pd.read_csv("/Users/prakritiailavadi/Desktop/post_grad/project2/LOS/selected_cohort_age_with_disc_los_24hr.csv")

In [36]:
train_ids = train_df["id"].tolist()
test_ids = test_df["id"].tolist()
val_ids = val_df["id"].tolist()

In [49]:
len(train_ids)
#len(val_ids)
# len(test_ids)

1430

In [37]:
train_age_arr = selected_cohort['age'].loc[selected_cohort['Sub_icu'].isin(train_ids)]
test_age_arr = selected_cohort['age'].loc[selected_cohort['Sub_icu'].isin(test_ids)]
val_age_arr = selected_cohort['age'].loc[selected_cohort['Sub_icu'].isin(val_ids)]

In [50]:
len(train_age_arr)

948

In [39]:
train_age_arr[train_age_arr > 90] = 90
test_age_arr[test_age_arr > 90] = 90
val_age_arr[val_age_arr > 90] = 90

In [40]:
train_df["new_age"] = train_age_arr

In [41]:
train_df["new_age"]

0       69.706849
1       77.641096
2             NaN
3       56.687671
4       63.761644
5       62.805479
6             NaN
7             NaN
8       77.586301
9       50.380822
10      90.000000
11      21.545205
12      60.263014
13      46.378082
14      78.690411
15      62.969863
16            NaN
17      39.136986
18            NaN
19            NaN
20      88.323288
21            NaN
22      70.397260
23      65.827397
24      67.013699
25      72.046575
26      79.210959
27      59.260274
28            NaN
29      50.408219
          ...
1400          NaN
1401    66.660274
1402    53.939726
1403          NaN
1404          NaN
1405    53.169863
1406          NaN
1407          NaN
1408    67.553425
1409          NaN
1410    70.367123
1411    90.000000
1412    84.161644
1413    80.580822
1414          NaN
1415    90.000000
1416    31.309589
1417    25.054795
1418    72.830137
1419          NaN
1420    84.764384
1421    62.117808
1422          NaN
1423          NaN
1424          NaN
1425    75.301370
1426    79.545205
1427    77.868493
1428    88.980822
1429    69.879452
Name: new_age, Length: 1430, dtype: float64

In [48]:
np.sum(train_df["new_age"])/948

58.71948731290084

In [30]:
np.std(train_df["new_age"])

15.379379120949348

In [29]:
selected_cohort["age"]

0        69.706849
1        77.641096
2        56.600000
3        56.687671
4        63.761644
5        62.805479
6        64.802740
7        83.115068
8        77.586301
9        50.380822
10      302.868493
11       21.545205
12       60.263014
13       46.378082
14       78.690411
15       62.969863
16       77.438356
17       39.136986
18       56.054795
19       59.879452
20       88.323288
21       64.868493
22       70.397260
23       65.827397
24       67.013699
25       72.046575
26       79.210959
27       59.260274
28       81.380822
29       50.408219
           ...
1580     67.200000
1581     63.416438
1582     65.408219
1583     45.394521
1584     76.128767
1585     73.561644
1586     54.115068
1587     87.616438
1588     82.663014
1589     33.008219
1590     68.128767
1591     77.282192
1592     69.569863
1593     54.076712
1594     53.813699
1595     78.419178
1596     74.717808
1597    300.200000
1598     45.884932
1599     80.389041
1600     87.200000
1601     58.027397
1602     84.956164
1603     86.490411
1604     87.660274
1605     56.468493
1606     57.802740
1607     52.232877
1608     77.550685
1609     63.232877
Name: age, Length: 1610, dtype: float64

In [28]:
train_df["age"]

0       0.216704
1       0.728071
2       0.728071
3       0.728071
4       0.728071
5      -0.622389
6      -0.166468
7      -0.228093
8       0.724539
9       0.724539
10      0.724539
11     -1.028869
12      1.524609
13      1.524609
14      1.524609
15     -2.887341
16     -2.887341
17     -0.391957
18     -1.286848
19     -1.286848
20     -1.286848
21     -1.286848
22      0.795699
23     -0.217499
24     -1.753541
25      1.416544
26      0.261201
27      0.261201
28      0.261201
29      0.261201
          ...
1400    0.630600
1401    0.630600
1402    0.465148
1403    1.370987
1404    1.051736
1405    0.114996
1406    0.114996
1407    0.114996
1408    0.114996
1409    0.207875
1410   -0.807619
1411   -0.807619
1412   -0.807619
1413   -0.807619
1414    0.778218
1415    0.539663
1416    0.539663
1417    0.539663
1418    0.539663
1419    0.539663
1420    0.539663
1421    0.539663
1422    1.524609
1423   -1.318632
1424    0.905177
1425   -0.536043
1426    1.199531
1427   -0.550523
1428   -0.909503
1429   -0.200547
Name: age, Length: 1430, dtype: float64

In [47]:
np.sum(train_age_arr)/948

66.81657707654009

In [102]:
np.mean(test_age_arr)

64.57602314302731

In [103]:
np.mean(val_age_arr)

66.6111801242236

In [104]:
np.std(train_age_arr)

15.413123846050649

In [105]:
np.std(test_age_arr)

16.213372392405

In [106]:
np.std(val_age_arr)

14.864197493479661